
/*
    General classes and ids:
*/

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexAround {
    display: flex;
    justify-content: space-around;
}

.flexEnd {
    display: flex;
    justify-content: end;
}


/*
    Welcome window classes and ids:
*/

#mainWindow {
    height: 400px;
    width: 600px;
    margin: 100 0 0 0;
    justify-content: center;
}

#loginWindow {
    background-color: blue;
    color: white;
    height: 30%;
    margin: 0 0 5 0;
    padding: 5px;
    
    
}

#signupWindow {
    background-color: red;
    color: white;
    height: 70%;
    margin: 5 0 0 0;
    padding: 5px;
    
}

#loginSignup {
    height: 400px;
    width: 250px;
    margin: 0 0 0 5; 
    
}

#loginSignup h2 {
    margin: 0 0 10 0;
}



#logoSloganWindow {
    background-color: green;
    width: 340px; 
    margin: 0 5 0 0; 

}

.inputAndLabel {
    display: flex;
    justify-content: space-between;
}