
/*
    General classes and ids:
*/

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexAround {
    display: flex;
    justify-content: space-around;
}

.flexEnd {
    display: flex;
    justify-content: end;
}

.mainWindow {
    height: 400px;
    width: 600px;
    margin: 100 0 0 0;
    justify-content: center;
}


/*
    Welcome window classes and ids:
*/

#loginWindow {
    background-color: blue;
    color: white;
    height: 30%;
    margin: 0 0 5 0;
    padding: 5px;
    
    
}

#signupWindow {
    background-color: red;
    color: white;
    height: 70%;
    margin: 5 0 0 0;
    padding: 5px;
    
}

#loginSignup {
    height: 400px;
    width: 250px;
    margin: 0 0 0 5; 
    
}

#loginSignup h2 {
    margin: 0 0 10 0;
}



#logoSloganWindow {
    background-color: green;
    width: 340px; 
    margin: 0 5 0 0; 

}

.inputAndLabel {
    display: flex;
    justify-content: space-between;
}

/*
    Profile window classes and ids:
*/

#tabs {
    height: 50px;
    width: 300px;
    margin: 0 0 10 0;
}

.tab {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    padding: 20px;
    margin: 0 10 0 0;

}

.tab h2 {
    margin: 0;
}

.tab.active {
    background-color: #e6e6e6;
    border-bottom: 2px solid black;
}

#panels {
    background-color: white;
    height: 400px;
    width: 600px;
    
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}